/* 
pale-blue : #ebf3fa;
marine-blue : #234179;
dark-red: #af443f 
dark-blue: #253a62
*/

* {
    color: #253a62;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(./Images/blue-pale.svg);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

span {
    font-weight: lighter;
}

li {
    list-style-type: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a {
    margin-left: 1rem;
    height: 2rem;
    transition: text-decoration 1s ease-in-out;
}

a {
    transition: text-decoration 1s ease-in-out;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav {
    margin-right: 3rem;
}

nav > ul {
    display: flex;
}

ul > li {
    margin-left: 1rem;
}

section {
    width: 1020px;
    height: 100vh;
    padding-top: 6rem;
    margin: auto;
}

.cowork {
    width: 40rem;
    height: 25rem;
}

#accueil {
    display: flex;
    margin: auto;
}

#accueil .left {
    width: 600px;
}

.btn {
    border: solid #253a62 1px;
    padding: 10px;
    border-radius: 20px;
}

#services {
    text-align: center;
}

#services .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
}

#services img{
    width: 17rem;
    height: 12rem;
}

#service p {
    text-align: justify;
}

#projets .titre {
    text-align: center;
}

table {
    
    width: 65vw;
}

td {
    padding: 1rem;
}

#contact > h1 {
    display: flex;
    justify-content: center;
}

.profil{
    width: 12rem;
}

#contact img {
    width: 38rem;
}

#contact .container {
    display: flex;

}

#contact form {
    display: flex;
    flex-direction: column;
    width: 36rem;
    border: solid 1px #253a62;
    border-radius: 20px;
    padding: 1rem;
}

label {
    font-weight: 900;
    margin-bottom: 0.5rem;
}

input[type="submit"] {
    margin-top: 1rem;
    background-color: #253a62;
    color: white;
}

#contact form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: solid #253a62 1px;
}

textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: solid #253a62 1px;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(/Images/wave-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;

}

footer img {
    width: 2rem;
}

footer p {
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.icons-rs {
    position: absolute;
    bottom: 2rem;
    right: 2rem; 
}

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }
    
}

