/* 
pale-blue : #ebf3fa;
marine-blue : #234179;
dark-red: #af443f 
dark-blue: #253a62
*/

* {
    color: #253a62;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

li {
    list-style-type: none;
}

.logo {
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* From https://css.glass */
    background: #c04b448e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

header > a {
    margin-left: 1rem;
    height: 2rem;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: text-decoration 3s;
}

nav {
    margin-right: 3rem;
}

nav > ul {
    display: flex;
}

ul > li {
    margin-left: 1rem;
}

section {
    height: 100vh;
    /* padding-top: 6rem; */
    margin: 0;
}

#accueil {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #af443f ;
}

.btn-signup {
    border: solid #253a62 1px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.btn-signup:hover {
    background-color: #253a62;
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    background-image: url(/Images/wave-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

footer img {
    width: 2rem;
}

footer p {
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}